[diff]
  algorithm = patience
  noprefix = true
[protocol]
  version = 2
[user]
  name = Scott Walkinshaw
  email = scott.walkinshaw@gmail.com
[core]
  editor = vim
  commitGraph = true
  excludesfile = ~/.gitignore
[push]
  default = current
[rebase]
  autoStash = true
[rerere]
  enabled = true
[gc]
  writeCommitGraph = true
[alias]
  fixup = !git commit --fixup=HEAD && git rebase --interactive --autosquash origin/master && :
[pull]
  rebase = false
